<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item1</h2>
    <svg class="icon icon--primary collapsible__chevron">
      <image style="width: 100%" xlink:href="images/chevron.svg"></image>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia aliquam velit
    deserunt dignissimos voluptas reprehenderit repellendus doloribus debitis
    amet illo!
  </div>
</div>
