<section class="block block--dark block--skewed-right showcase-block">
  <header class="block__header">
    <h2>User-Friendly Control Panel</h2>
  </header>
  <article class="container grid grid--cols-2 showcase">
    <img class="showcase__image" src="images/ipad.webp" alt="" />
    <div>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#snap"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy Start & Managed Updates</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione
            sapiente nam possimus illum quia id repellat sunt vel deserunt
            laboriosam.
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#growth"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Staging, Git & WP-CLI</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione
            sapiente nam possimus illum quia id repellat sunt vel deserunt
            laboriosam.
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Dynamic Caching & More</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione
            sapiente nam possimus illum quia id repellat sunt vel deserunt
            laboriosam.
          </p>
        </div>
      </div>
    </div>
  </article>
</section>
